/* Контейнер чата */
.chat-container {
    display: flex;
    flex-direction: column;
    max-height: 200px; /* Высота для 5 сообщений, увеличьте/уменьшите по желанию */
    border-radius: 30px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8); /* Черный цвет с прозрачностью 0.8 (80%) */
    backdrop-filter: blur(10px); /* Добавляем эффект backdrop блюр */
}

/* Контейнер сообщений */
.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column-reverse; /* Разворачиваем порядок сообщений */
    padding: 10px;
    overflow-y: auto;
}

/* Контейнер ввода сообщения */
.chat-input {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8); /* Черный цвет с прозрачностью 0.8 (80%) */
    backdrop-filter: blur(10px); /* Добавляем эффект backdrop блюр */
}

/* Поле ввода сообщения */
.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8); /* Белый цвет с прозрачностью 0.8 (80%) */
    color: #333; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
}

/* Кнопка отправки сообщения (самолетик) */
.chat-input button {
    margin-left: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: url('путь_к_вашей_иконке_самолетика.png') no-repeat center/contain;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.8;
}

/* Стиль кнопки отправки при наведении */
.chat-input button:hover {
    opacity: 1;
}

/* Стиль сообщения */
.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #fff; /* Цвет текста сообщения */
    font-size: 16px; /* Размер шрифта сообщения */
    max-width: 80%;
}

/* Стиль отправленных сообщений */
.chat-message.sent {
    background-color: #007bff;
    align-self: flex-end;
}

/* Стиль полученных сообщений */
.chat-message.received {
    background-color: #444;
    align-self: flex-start;
}

/* Стили для уголка облачка отправленных сообщений */
.chat-message.sent::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: -10px;
    border-width: 10px 0 0 10px;
    border-style: solid;
    border-color: transparent transparent transparent #007bff;
}

/* Стили для уголка облачка полученных сообщений */
.chat-message.received::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: -10px;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: transparent #444 transparent transparent;
}
