/* Контейнер чата */
.chat-container {
    display: flex;
	top: 500px;
	bottom: 100px;
    flex-direction: column;
    max-height: 200px; 
    max-width: 400px; 
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.184); /* Черный цвет с прозрачностью 0.8 (80%) */
    backdrop-filter: blur(3px); /* Добавляем эффект backdrop блюр */
    align-self: flex-end; /* Выравниваем чат по правой стороне */
}

/* Контейнер сообщений */
.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column; /* Заменили на column */
    padding: 10px;
    overflow-y: auto;
	word-wrap: break-word; /* Добавляем перенос слов при необходимости */

}


/* Контейнер ввода сообщения */
.chat-input {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.127); /* Черный цвет с прозрачностью 0.8 (80%) */
    backdrop-filter: blur(3px); /* Добавляем эффект backdrop блюр */
}

/* Поле ввода сообщения */
.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0); /* Белый цвет с прозрачностью 0.8 (80%) */
    color: #ffffff; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    border: none; /* Убираем рамку */
    outline: none; /* Убираем рамку при фокусе */
}

/* Кнопка отправки сообщения (самолетик) */
.chat-input button {
    margin-left: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    color: #ffffff; /* Изменили цвет на черный */
    background: none; /* Убрали задник кнопки */
}

/* Стиль кнопки отправки при наведении */
.chat-input button:hover {
    opacity: 0.8; /* Изменили значение непрозрачности при наведении */
}


/* Стиль сообщения */
.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #fff; /* Цвет текста сообщения */
    font-size: 14px; /* Размер шрифта сообщения */
    line-height: 1; 
    max-width: 100%;
    position: relative; /* Добавляем позиционирование для облачков */
}

/* Стиль отправленных сообщений */
.chat-message.sent {
    background-color: #007bff;
    align-self: flex-end;
    text-align: right; /* Выравниваем текст по правому краю */
    font-size: 14px; /* Уменьшили размер шрифта для отправленных сообщений */
}

/* Стиль полученных сообщений */
.chat-message.received {
    background-color: #444;
    align-self: flex-start;
    text-align: left; /* Выравниваем текст по левому краю */
    font-size: 14px; /* Уменьшили размер шрифта для полученных сообщений */
}

/* Стиль времени в сообщении */
.message-time {
	font-size: 5px; /* Уменьшаем размер шрифта для времени */
  }

/* Стиль последнего сообщения */
.chat-messages .chat-message:last-child {
    background-color: #0ca40c; /* Зеленый цвет для последнего сообщения */
}
