
body {
  background:
    linear-gradient(to right, #1F2941 0%, #1F2941 25%, #B23B2C 25%, #B23B2C 50%, #D64333 50%, #D64333 75%, #B23B2C 75%, #B23B2C 100%, #1F2941 100%),
    linear-gradient(to top, #1F2941 0%, #1F2941 25%, #B23B2C 25%, #B23B2C 50%, #D64333 50%, #D64333 75%, #B23B2C 75%, #B23B2C 100%, #1F2941 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  animation: gradientAnimation 100s ease infinite;
  background-size: 1000% 1000%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chat-container {
  width: 400px;
  margin: 0 auto;
  border: 0;
  background-color: #22222262;
  padding: 10px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow-y: hidden;
}

.chat-messages-container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  overflow-y: auto;
  flex-grow: 1;
}

.chat-messages-container div {
  margin: 5px 0;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.chat-messages-container div.sent,
.chat-messages-container div.received {
  max-width: 80%;
  text-align: right;
}

.chat-messages-container div.sent {
  align-self: flex-end;
  border-radius: 15px;
  color: #fff;
  padding: 6px;
  word-wrap: break-word;
  margin-left: auto;
}

.chat-messages-container div.received {
  align-self: flex-start;
  border-radius: 13px;
  color: #ffffff;
  padding: 6px;
  word-wrap: break-word;
  margin-left: auto;
}

.chat-messages-container div span.time {
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}

.chat-messages-container div:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: translateY(-2px);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  color: black;
}





.chat-input-box {
  display: flex; 
  align-items: center;
  margin-top: 10px;
}

.chat-input {
  position: relative;
  flex: 1; 
}

/* Стиль для поля ввода текста */
.chat-input input {
  /* max-width: 90%; */
  font-size: 16px;
  width: 75%;
  background: var(--input-bg-color); /* Используем переменную CSS для цвета фона */
  border: 0px solid #666;
  color: #fff;
  border-radius: 13px;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
  padding: 15px;
}

.chat-input input:focus {
  border-color: #fff; /* Белый цвет границы при фокусе */
}

.send-button button i,
.attachment-button i {
  font-size: 16px;
}

/* Стиль для кнопки "Отправить" */
.send-button {
  position: absolute; /* Позиционируем кнопку абсолютно внутри .chat-input */
  right: 10px; /* Отодвигаем кнопку на 10px от правой границы .chat-input */
  top: 50%; /* Перемещаем кнопку на 50% от верхней границы .chat-input */
  transform: translateY(-50%); /* Центрируем кнопку вертикально */
}

.send-button button {
  background-color: transparent; /* Делаем фон кнопки прозрачным */
  border: none; /* Убираем границы кнопки */
  color: #fff; /* Цвет текста на кнопке */
  padding: 8px 15px; /* Внутренние отступы кнопки */
  border-radius: 5px; /* Закругляем углы кнопки */
  cursor: pointer; /* Изменяем курсор при наведении на кнопку */
}

.send-button button:hover {
  background-color: #666; /* Изменяем цвет фона кнопки при наведении */
}

.attachment-button {
  background-color: transparent; /* Делаем фон кнопки прозрачным */
  border: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.attachment-button:hover {
  background-color: #666;
}


/* Стиль для активированного поля ввода */
.chat-input input:focus {
  outline: none; /* Убираем обводку при активации поля ввода */
  border-color: #888; /* Изменяем цвет бордера при активации поля */
}

/* Добавим стиль для поля выбора изображения */
.chat-input input[type="file"] {
  display: none; /* Скроем стандартное поле выбора файла */
}

.chat-message img {
  max-width: 100%;
  max-height: 300px; /* Ограничение максимальной высоты изображения */
  display: block; /* Убираем пробелы снизу и сверху изображения */
  margin: 10px 0; /* Отступы сверху и снизу для изображения */
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрируем галерею по горизонтали */
  gap: 10px;
  position: absolute;
  bottom: 10px; /* Располагаем галерею внизу чат-контейнера */
}

.image-gallery img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

/* Обновленные стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Добавим стили для центрирования изображения по вертикали */
.modal-content img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Анимация появления модального окна */
.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
