/* Общий стиль для кнопок в навигационной панели */
.navigation-panel button {
    width: 120px;
    height: 40px; /* Задайте желаемую высоту кнопок */
    margin-bottom: 3px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.226);
    animation: bounce 1s infinite ease-in-out;
    backdrop-filter: blur(3px); /* Стандартное свойство backdrop filter */
    -webkit-backdrop-filter: blur(3px); /* Добавляем backdrop blur для WebKit браузеров */
    text-align: center; /* Выравнивание текста по центру */
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    outline: none; /* Убираем синюю обводку */
    border: none; /* Убираем обводку */
    border-radius: 15px;
}

/* Стиль для навигационной панели с backdrop blur */
.navigation-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);

}

/* Стиль для кнопки "ЧАТ" */
.chat-button {
    position: absolute;
    font-size: 20px;
    top: 0;
}

/* Стиль для кнопки "ФАЙЛЫ" */
.files-button {
    position: absolute;
    font-size: 20px;
    top: 50%;
}

/* Стиль для кнопки "ИГРЫ" */
.games-button {
    position: absolute;
    font-size: 20px;
    top: 50%;
}

/* Стиль для кнопки "НАЗАД" */
.back-button {
    position: absolute;
    font-size: 20px;
    top: 50%;
}

/* Медиа-запрос для уменьшения ширины и высоты кнопок на маленьких экранах */
@media (max-width: 1080px) {
    .navigation-panel button {
        width: 80px;
        height: 25px; /* Уменьшаем высоту кнопок */
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .navigation-panel button {
        width: 80px;
        height: 25px; /* Уменьшаем высоту кнопок */
        font-size: 12px;
    }
}

/* Стили для заглушки */
.password-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(3px); /* Стандартное свойство backdrop filter */
    -webkit-backdrop-filter: blur(3px); /* Добавляем backdrop blur для WebKit браузеров */
  }
  
  .password-container {
    background-color: #39393944;
    color: #ffffff5a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .password-container label,
  .password-container input,
  .password-container button {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Стиль для кнопки ввода пароля */
  .password-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .password-container button:hover {
    background-color: #0056b3;
  }
  
  /* Стиль для поля ввода пароля и кнопки "Вход" */
.password-input {
    display: flex;
    align-items: center;
  }
  
  .password-input input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .password-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .password-input button:hover {
    background-color: #0056b3;
  }
  
  /* Стили для иконок Font Awesome */
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');