.btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    animation: bounce 1s infinite ease-in-out;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }